version: .{build}
clone_folder: c:\work\messagepack

pull_requests:
  do_not_increment_build_number: true

nuget:
  disable_publish_on_pr: true

os: Visual Studio 2019

environment:
  # Set the DOTNET_SKIP_FIRST_TIME_EXPERIENCE environment variable to stop wasting time caching packages
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  # Disable sending usage data to Microsoft
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  coveralls_repo_token:
    secure: PPV4OTsE0mqUJQ5UXY8dKJnifv+488XNxe7rtyUbiYJNMgvOooUZvGeSxhsOIJmJ
  CAKE_SETTINGS_SKIPVERIFICATION: true
  GITHUB_TOKEN:
    secure: SakrMxbclSjNzFQxv8sA35OhulfvNm9VqHBEOgQrebPaF/Bv7AmZRsT8/YEfSQED

install:
  - ps: ./dotnet-install.ps1  -Version 3.1.102 -InstallDir "C:\Program Files\dotnet"
  - ps: ./dotnet-install.ps1  -Version 3.0.103 -InstallDir "C:\Program Files\dotnet"
  - ps: ./dotnet-install.ps1  -Version 2.2.402 -InstallDir "C:\Program Files\dotnet"
  - ps: ./dotnet-install.ps1  -Version 2.1.804 -InstallDir "C:\Program Files\dotnet"

build_script:
  - ps: ./build.ps1

test: off

artifacts:
  - path: artifacts/packages/*.nupkg
    name: Nugets

deploy:
  - provider: NuGet
    name: Pre-release
    api_key:
      secure: UtOq3A67FSX/X2GYpy2sRB0a9xEoguCkjUuo8UTV9svFeVJT//g4IhJiyCtSYq9u
    on:
      branch:
        - develop
        - /release\/v.*/
        - /releases.*/
        - /hotfixes.*/

  - provider: NuGet
    name: Tagged release
    api_key:
      secure: UtOq3A67FSX/X2GYpy2sRB0a9xEoguCkjUuo8UTV9svFeVJT//g4IhJiyCtSYq9u
    on:
      appveyor_repo_tag: true
